*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 99%;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: "Bradley Hand", cursive;
    color:rgb(130, 255, 228);
    font-size: 1.5rem;
    margin: 1px;
}

a{
    text-decoration: none;
}