*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 99%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url("../image/homepage_background.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: "Bradley Hand", cursive;
    color:rgb(130, 255, 228);
    font-size: 1.5rem;
}

.profile{
    width: 75%;
    background-color: rgb(0.5, 0.5, 0.5, 0.5);
    border-radius: 0.25rem;
    box-shadow: hsla(0, 0%, 0%, 0.6) 0.625rem 0.625rem 5rem;
}

.profile .header{
    text-align: center;
}

.profile .profile-other{
    margin: 1.25rem auto 1.25rem 3%;
    text-align: left;
}

.header, .content{
    width: 95%;
    margin: 0 auto;
}

.header, .links{
    margin: 0 auto;
}

.header .profile-img{
    margin-top: -3.75rem;
}

.header img{
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
}

.header img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    filter: grayscale(20%);
}

.head li{
    font-size: 1.875rem;
}

.header a{
    color: rgb(130, 255, 228);
    text-decoration: none;
}

.content{
    padding: 2.5% 5%;
    border-top: 0.125rem solid rgb(130, 255, 228);
}

.content .about{
    padding-top: 1.25rm;
    margin-bottom: 3%;
    text-align: justify;
}

.content .links{
    text-align: center;
}

.content ul{
    list-style-type: none;
}
.content li{
    display: inline;
    letter-spacing: 0.375rem;
}
.content li a{
    color: rgb(130, 255, 228);
    font-size: 1.875rem;
}

/* .profile-school:hover, .profile-contact:hover, .profile-email:hover, .github:hover, .linkedin:hover, .instagram:hover{
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
} */

i:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}