body{
    width: 80%;
    min-width: 1000px;
    margin: 0.5rem auto;
}

header{
    font-family: Verdana;
    background-color: #0099ff;
    padding-left: 1rem;
    padding-right: 1rem;
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    background-image: url("hku-cs-logo.png");
    background-size: 200px;
    background-position: top right;
    background-repeat: no-repeat;
}

header h1{
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    box-sizing: border-box;
    width: 50%;
}

header nav{
    padding-top: 50px;
    /* float: right; */
}

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
}


header li{
    /* box-sizing: border-box; */
    width: 35%;
    /* float: left; */
    list-style-type: none;
    text-align: right;
}


header a{
    color: rgba(255, 216, 0);
    text-decoration: none;
}

header a:hover{
    text-decoration: underline overline red 1px;
}


article{
    font-family: Arial;
}


table, th, td{
    border: 1px solid black;
    padding: 0.5rem;
    border-collapse: collapse;
}

table th{
    background-color: #0099ff;
    font-size: 1.2em;
    text-align: left;
    color: #ffffff;
}

table td:first-child{
    width: 100px;
}

/* specific features */

/* contact */
h2 + table + table{
    margin-top: 2rem;
}

/* professional */
h3+table td:first-child{
    width: 150px;
}
h3+table td:nth-child(3){
    width: 80px;
}
h2 + h3 ~ p::first-line{
    font-weight: bold;
}

/* index */
h2+table:only-of-type td{
    vertical-align: top;
}


/* information */
article nav{
    background-color: #0099ff;
    position: fixed !important;
    bottom: 10px;
    width: 80%;
    min-width: 1000px;
    box-sizing: border-box;
}

article section:last-child{
    margin-bottom: 165px;
}

article nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

article nav li{
    list-style-type: none;
    width: 300px;
}

article nav a{
    color: rgba(255, 216, 0);
}

article section{
    border: 0.5rem;
    background-color: #f9f9fb;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 95%;
    gap: 10px;/* small gap */
    border-radius: 2em/5em;
    margin-bottom: 0.5rem;
}

article section:nth-child(even){
    margin-left: 5%;
}


/* @media screen and (max-width: 1000px){
    body{
        width: 1000px;
        overflow-x: auto;
    }
    article nav{
        width: auto;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
    }
} */

/* Mobile look */
@media screen and (max-width: 500px) {
    body{
        width: 100%;
        /* overflow: visible; */
        min-width: unset;
    }
    
    header{
        font-family: Verdana;
        background-color: #0099ff;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        background-image: none;
    }

    header h1{
        font-size: 1.5rem;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }

    header nav{
        padding-top: 0;
    }

    header ul{
        margin-top: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px;
    }

    header li{
        text-align: center;
    }

    article{
        padding-left: 10px;
        padding-right: 10px;
    }

    /* information */
    article nav{
        background-color: #0099ff;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
        width: 94.5%;
        font-size: 0.9rem;
        min-width: unset;
    }

    article nav ul{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    
    article nav li{
        list-style-type: none;
        width: 100%;
    }

    article section:last-child{
        margin-bottom: 320px;
    }

    article section{
        border: 0.1rem;
        border-style: dotted;
        background-color: #f9f9fb;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        width: 100%;
        gap: 10px;/* small gap */
        border-radius: 2em/5em;
        margin-bottom: 0.5rem;
    }
    
    article section:nth-child(even){
        margin-left: 0;
    }

    /* index */
    h2+table:only-of-type thead{
        display: none;
    }
    h2+table:only-of-type tr{
        border: 5px solid rgb(128,128,128);
    }
    h2+table:only-of-type td{
        word-break: break-all;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(221, 221, 221);
    }
    h2+table:only-of-type td:first-child{
        box-sizing: border-box;
        width: 100%;
        border-bottom: 3px solid rgb(221, 221, 221);
    }
    h2+table:only-of-type td:first-child p::before{
        content: "Date:";
        font-weight: bold;
    }
    h2+table:only-of-type td:nth-child(2){
        /* box-sizing: border-box; */
        /* display: block; */
        /* flex-direction: column; */
        border-top: none;
    }

    /* professional */
    h3+table td:nth-child(3){
        width: 80px;
        text-align: center;
    }

    /* contact */
}

/* information */
article nav{
    background-color: #0099ff;
    position: fixed !important;
    bottom: 10px;
    width: 80%;
    min-width: 1000px;
    box-sizing: border-box;
}